
<%- include("header") -%>  <!--add header template from views/header.ejs-->

    <div class="box" id="heading">
        <% if (listTitle==="Saturday" || listTitle==="Sunday" ) { %>
            <h1 style="color: yellow"> <%= listTitle %> </h1>
        <% } else { %>
            <h1 style="color: white"> <%= listTitle %> </h1>
        <% } %>
        <h2>To-do list</h2>
    </div>

    <div class="box">
        <% for (var i=0; i<newListItem.length; i++){ %> <!-- an array is passed in as a newListItem -->
            <div class="item">
                <input type="checkbox">
                <p> <%= newListItem[i] %> </p> <!--create a new list item for each item in array-->
            </div>
        <% } %>
        <form class="item" method="post" action="/">    
            <input type="text" name="newItem" placeholder="New item" autocomplete="off">
            <button type="submit" name="list" value= <%=listTitle%> >+</button>
        </form>
    </div>


<%- include("footer") -%>  <!--add header template from views/header.ejs-->


  
